.CoinToss button {
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    padding: .25em 1em .25em 1em;
    margin: .25em;
}

.CoinToss button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

/* Flip Feature CSS  */

.flip-coin {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 160px;
    height: 160px;
    perspective: 1000px;
  }
  
.flip-coin-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-animation {
    transform: rotateX(720deg);
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  
  .flip-coin-front, .flip-coin-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-coin-back {
    transform: rotateX(720deg);
  }
