.CoinToss button {
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    padding: .25em 1em .25em 1em;
    margin: .25em;
}

.CoinToss button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}